@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Melodrama";
    src: url(fonts/Melodrama-Regular.otf);
}

* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

/*MENU*/

nav {
    background-color: rgba(255, 175, 180, 60%);

    z-index: 10;
}

nav ul img {
    width: 200px;
    height: 100px;

    display: flex;
    align-items: center;
    text-align: center;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

    font-family: "Outfit";
    font-size: 24px;

}

nav ul a {
    color: black;
    text-decoration: none;
    /* Remove o sublinhado */
}

nav ul a:hover {
    color: #9C528B;
    /* Cor do link ao passar o mouse */
    text-decoration: underline;
    /* Sublinhado ao passar o mouse */
}

nav ul li {
    margin: 0 100px;
    padding-top: 40px;
}

/*BANNER 1*/

.hero-section {
    text-align: center;
    position: relative;
}

.hero-section img {
    width: 100%;
    object-fit: cover;
}

.hero-section h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: black;

    padding-top: 100px;
    font-family: "Melodrama";
}

/*SECAO 1*/

.basico h2 {
    font-size: 45px;
    margin-bottom: 20px;

    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;

    font-family: "Outfit";
    font-weight: normal;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.video-box {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

.basico h1 h6 h3 h4 h5 {
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento opcional */

    font-family: "Outfit";
    font-size: 15px;
}

.textos {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */


}

/*SECAO 2*/

.avancado h2 {
    font-size: 45px;
    margin-bottom: 20px;

    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;

    font-family: "Outfit";
    font-weight: normal;
}

.avancado p {
    font-family: "Outfit";
    font-weight: normal;
    font-size: 18px;

    width: 300px;
    height: 200px;
    overflow: auto;
}

.video-grid-ava {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.video-box-ava {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-ava::before {
    content: "▶";
    color: white;
    font-size: 32px;
}


.avancado2 p {
    font-family: "Outfit";
    font-weight: normal;
    font-size: 18px;

    width: 300px;
    height: 200px;
    overflow: auto;
}

.video-grid-ava2 {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.video-box-ava2 {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-ava2::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

/*SECAO 3*/

.plus h2 {
    font-size: 45px;
    margin-bottom: 20px;

    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;

    font-family: "Outfit";
    font-weight: normal;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.video-box-cima-1 {
    width: 200px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-cima-1::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

/*video do meio*/

.video-box-meio {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-meio::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

/*videos direita*/

.video-box-direita-1 {
    width: 200px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-direita-1::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

.video-box-direita-2 {
    width: 200px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-direita-2::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

/*FOOTER*/

.footer {
    position: relative;
    width: 100%;

}

.texto {
    position: absolute;
    top: 75%;
    /* Centraliza verticalmente */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta a centralização */
    color: black;
    text-align: center;
}

.footer img {
    width: 100%;
    height: auto;

    display: block;
}

.footer h1 {
    font-family: "Outfit";

    text-align: center;

    margin: 0;
}

.footer p {
    font-family: "Outfit";

    text-align: center;

    margin: 0;
}