@font-face {
    font-family: "Outfit";
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Melodrama";
    src: url(fonts/Melodrama-Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

/*MENU*/
nav {
    background-color: rgba(255, 175, 180, 60%);
}

nav ul img {
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center; 
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

    font-family: "Outfit";
}

nav ul li {
    margin: 0 15px;

    padding-top: 40px;
}

/*BANNER 1*/

.hero-section {
    text-align: center;

    position: relative;
}

.hero-section img {
    width: 100%;
    object-fit: cover;
}

.hero-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: black;

    padding-top: 100px;

    font-family: "Melodrama";
}

/*SECAO 1*/

/*
.basico {
    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;
} */

.basico h2 {
    font-size: 45px;
    margin-bottom: 20px;

    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;

    font-family: "Outfit";
    font-weight: normal;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 15px;

}

.video-box {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

/*SECAO 2*/

.avancado h2 {
    font-size: 45px;
    margin-bottom: 20px;

    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;

    font-family: "Outfit";
    font-weight: normal;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.video-box {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box::before {
    content: "▶";
    color: white;
    font-size: 32px;
}

/*SECAO 3*/

.plus h2 {
    font-size: 45px;
    margin-bottom: 20px;

    padding: 40px 0;
    text-align: center;
    background-color: rgba(255, 182, 193, 0.5);
    margin-bottom: 30px;

    font-family: "Outfit";
    font-weight: normal;
}

.video-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/*
.video-box {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box::before {
    content: "▶";
    color: white;
    font-size: 32px;
}
*/

/*primeira coluna*/


.video-box-base-1 {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    position: relative;
}

.video-box-base-1::before {
    content: "▶";
    color: white;
    font-size: 32px;
}


.video-box-cima-1 {
    width: 200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    
} 

.video-box-cima-1::before {
    content: "▶";
    color: white;
    font-size: 32px;
}


/*video do meio*/

.video-box-meio {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.video-box-meio::before {
    content: "▶";
    color: white;
    font-size: 32px;
}